# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
venv/
ENV/

# Data Files (Required for Cloud Dashboard)
!peru-github-users/data/processed/*.csv
!peru-github-users/data/metrics/*.csv
!peru-github-users/data/processed/.gitkeep
!peru-github-users/data/metrics/.gitkeep
!peru-github-users/data/raw/.gitkeep
